
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$navbar-bg: #853d25;
$font-family-base: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$success: #ed4e0d;
$grid-body-width: 735px;
$grid-sidebar-width: 220px;
$grid-margin-width: 220px;

$retro: 'Handjet', cursive;

/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: $retro;
  font-size: $font-size-base * 3.8;
  line-height: 0.8;
}

p.subtitle.lead {
  font-family: $retro;
  font-size: $font-size-base * 1.8;
  line-height: 0.8 !important; 
  /*-- margin-top: -18px; --*/
  margin-bottom: 0px;
  /*-- padding-top: 0px !important; --*/
}

.about-image {
  margin-top: 1.5em;
}

nav.navbar.navbar-expand-lg {
  padding-top: 8px;
  padding-bottom: 8px;
}
